.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


body {
  background-color: black;
  color: pink;
  margin-top: 2%;
  margin-left: 4%;
  margin-right: 4%;
  font-family: "Ramaraja", serif;
  font-family: "Spectral", serif;
}


.hr {
  color: pink;
}


.my-container {
  color: white;
}



.pWelcome {
  font-size: 40px;
  text-align: center;
  font-weight: bold;
  color: pink;
}


.div-count {
  display: inline-flex;
  border-style: dotted;
  width: 200px;
  height: 24px;
  text-align: center;
}


.button-count-decrement {
  margin-left: 3px;
  margin-right: 20px;
  margin-top: 2px;
  margin-bottom: 14px;;
  width: 20px;
  height: 20px;
}

.p-button-count {
  text-align: center;
  margin-top: 2px;
  margin-left: 50px;
}

.button-count-increment {
  margin-left: 68px;
  margin-right: 5px;
  margin-top: 2px;
  margin-bottom: 14px;;
  width: 20px;
  height: 20px;
}


.cards_container {
  display: inline-block;
  flex-wrap: wrap;
  justify-content: center;
  border-style: double;
  border-color: pink;
  width: 70%;
  height: 100%;
  margin-left: 20px;
}

.card {
  display: inline-flex;
  flex-wrap: wrap;
  border-style: double;
  border-color: pink;
  width: 240px;
  height: 350px;
  margin-left: 4%;
  margin-top: 4%;
  margin-right: 4%;
}

.card_img {
  position: relative;
  overflow: hidden;
  justify-content: center;
  width: 240px;
  height: 240px;
  border-radius: 180px;
  margin-left: 40px;
  margin-top: 8px;
}

h2 {
  font-size: 40px;
  text-align: center;
  font-size: 16px;
  color: purple;
  margin-left: px;
}

.add-cart {
  width: 100%;
  background-color: white;
  border-style: double;
  color: purple;
  text-align: center;
}